<h2> Welcome to the CCDS BoB home page! </h2>
<p style="color:black;"> Click one of the links above to get started, or keep reading to learn about BoB </p>
<ul>
  <li> This sight lets you track what books people have read </li>
  <li> Who is on the team </li>
  <li> And what books you have to read, and links to where you can buy them </li>
</ul>
<p> The mission of battle of the books is: </p>
<blockquote style ="font-family:verdana;"><b> "Our aim is to support students in their love and discovery for reading
   by introducing them to quality literature, to offer books that build upon
   historical values and the dignity of life, and to develop friendships between
   students based upon socialization, competition, and mutual respect." </b></blockquote>
<img src="http://ves.ccs.k12.nc.us/files/2015/03/Battle-Image.png" alt="BoB logo" width="100" height="75">
